@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #795548;
  }

  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-100 text-zinc-800 transition-colors dark:bg-neutral-900 dark:text-zinc-400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p {
    @apply mb-2 dark:text-stone-400;
  }
}
